
.ws-text {
  color: #fff;
  text-align: center;
  margin: .25em;
}

.ms-chart {
  padding: .1em;
  border: .1em solid #444;
}

.sound-device {
  color: #fff;
  padding: 0 .2em;
}

.command-dialog.headline {
  width: 1200px;
}
