
.ws-text {
  color: #cfc;
  padding: .5em;
}

.ms-chart {
  padding: .1em;
  border: .1em solid #444;
}

.sound-device {
  color: #fff;
  padding: .5em;
}

.command-dialog.headline {
  width: 1200px;
}
